{% extends 'base.html' %} {% load static %} 

{% block title %}
<title>Все Цены - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block content%}

	<div class="container my-4">
		<div class="row text-center" style='margin-top:150px'>
			{% for r in page_obj %}
			<div class="col-md-6 mb-4" style='border-style:groove; border-radius: 5px; background: #e8e8e8f7; padding-top: 5px; margin-right: 10px'>
				<h2 style='font-weight: bold; margin-bottom: 10px; font-size: 24px'><a href="{% url 'crud:price_detail' pk=r.pk %}"'>{{r.date}}</a></h2>
			</div>
			{% endfor %}
		</div>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center" style='margin-bottom: 30px'>
			{% if not page_obj.has_previous %}
		  <li class="page-item disabled">
			<a class="page-link" tabindex="-1">Пред</a>
		  </li>
		  {% else %}
		  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Пред</a></li>
		  {% endif%}
		  {% for i in paginator.page_range %}
			{% if page_number == i %}
			  <li class="page-item active">
				<a class="page-link" href="?page={{i}}">{{ i }}<span class="sr-only">(current)</span></a>
			  </li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
			  {% endif %}
		  {% endfor %}

		  {% if not page_obj.has_next %}
		  <li class="page-item disabled">
			<a class="page-link">След</a>
		  </li>
		  {% else %}
		  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">След</a>
		  </li>
		  {% endif %}
		</ul>
	  </nav>

{%endblock content%}