{% extends 'base.html' %} {% load static %} 

{% block title%}
<title>Наши Люди - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block content%}

	<div class="row" style='margin-top: 150px; margin-left: 200px'>
		{% for leader in leaders %}
		<div class="column-leader">
		  <div class="card-leader" style='height: 495px'>
			<a href="{% url 'crud:leader_detail' pk=leader.pk %}"><img src="{{ leader.image.url}}" alt="{{ leader.firstname}}" style="width:230px; height: 230px"></a>
			<div class="container-leader" style='text-align:center'>
			  <h5 style='padding: 5px; word-break: break-all'>{{ leader.firstname}}</h5>
			  <h5 style='padding: 5px; word-break: break-all'>{{ leader.lastname }}</h5>
			  <h5 style='padding: 5px; word-break: break-all'>{{ leader.midname }}</h5>
			  <p class="title-leader">{{ leader.position | truncatechars:40 }}</p>
			  <p style='word-break:break-all'>{{ leader.body | truncatechars:30 }}</p>
			</div>
		  </div>
		</div>
		{% endfor %}
	</div>


{% endblock content%}