{% extends 'base.html' %} {% load i18n static %}

{% block title %}
<title>{% trans 'Политика охраны окружающей среды' %} - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block content%}
<!-- Page top section  -->
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}" style='margin-top: 150px'>
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h2>{% trans 'Политика охраны окружающей среды, охраны труда и отношений с партнерами' %}</h2>
			</div>
		</div>
	</div>
</section>
<!-- Page top section end  -->

	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="{% static 'img/About1.jpg' %}" alt="">
				</div>
				<div class="col-lg-6">
					<div class="about-text">
						<p><strong style='color:black'>
							{% blocktrans trimmed%}
							ПОЛИТИКА в области качества, охраны здоровья и окружающей среды,
							обеспечения безопасности труда нефтеперерабатывающего завода ЗАО «Кыргыз Петролеум Компани»
							{% endblocktrans %}
						</strong></p>
						<p>
							{% blocktrans trimmed%}
							Нефтеперерабатывающий завод ЗАО «Кыргыз Петролеум Компани» - одно из  динамично развивающихся предприятий в Кыргызской Республике по переработке углеводородного сырья и производству нефтепродуктов.
							Основная цель предприятия - выпуск и поставка конкурентоспособной продукции, удовлетворяющей требованиям потребителей и получение устойчивой прибыли для дальнейшего развития производства в интересах потребителей и общества, а также обеспечение безопасных условий труда и минимизация экологических воздействий.
							Повышение качества выпускаемой продукции решающий фактор условий её конкурентоспособности на внутреннем и внешнем рынках.
							{% endblocktrans%}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="about-text">
							<p></p>
							<p><strong style='color:black'> {% trans 'Основными направлениями своей Политики руководство ЗАО «КПК» определяет следующее: '%}</strong></p>
							<p><strong> {% trans 'Поставщик:'%}</strong> <br>{% trans ' - взаимовыгодные отношения с поставщиками в целях обеспечения стабильности и ритмичности поставки сырья и товарно-материальных ценностей.' %}</p>
							<p><strong> {% trans 'Потребитель:' %}</strong> <br>{% trans ' - постоянное повышение удовлетворенности потребителя путем изучения и анализа потребительского рынка нефтепродуктов по ассортименту и качеству с учетом опережения потребительского спроса.' %}</p>
							<p><strong> {% trans 'Государство и общество:' %}</strong><br>{% trans ' - неукоснительное выполнение законодательных актов правительственных и надзорных органов по обеспечению качества продукции, охраны труда и охраны окружающей среды;' %} <br>
								{% trans '- активное участие в реализации государственных и отраслевых программ;' %} <br>
								{% trans '- оказание содействия развитию и благосостоянию общества.' %}</p>
							<p><strong>{% trans 'Персонал:' %}</strong><br>{% trans ' - постоянное повышение квалификации и мотивации сотрудников; ' %}<br>
								{% trans '- повышение ответственности персонала за выполнение законодательных, нормативных и других требований.' %}</p>
							<p><strong>{% trans 'Безопасность и условия труда:' %}</strong> <br>{% trans ' - организация контроля по выполнению требований охраны труда и обеспечение средствами защиты работающих;' %}' <br>
								{% trans '- профессиональный отбор и обучение сотрудников работающих на предприятии;' %}<br>
								{% trans '- улучшение инфраструктуры нефтеперерабатывающего завода;' %}<br>
								{% trans '- снижение уровня заболеваемости и травматизма.' %}</p>
							<p><strong>{% trans 'Окружающая среда:' %}</strong><br>{% trans ' - снижение негативного воздействия деятельности завода на экологию путем обновления морально устаревшего оборудования, технологических процессов и используемых материалов;' %}<br>
								{% trans '- выпуск экологически безопасной продукции;' %}<br>
								{% trans '- рациональное использование природных ресурсов.' %}</p>
							<p><strong>{% trans 'Постоянное улучшение:' %}</strong><br>{% trans ' - повышение эффективности функционирования систем менеджмента качества, интегрированной системы менеджмента;' %}<br>
								{% trans '- модернизация технологических процессов и оборудования, внедрение новой техники и технологий;' %}<br>
								{% trans '- непрерывный мониторинг качества продукции, состояния здоровья работающих, условий труда, техники безопасности и охраны окружающей среды путем своевременного и результативного устранения несоответствий.' %}</p>
								<p></p>
								<p><strong>
									{% trans 'Для достижения поставленных задач данной Политики руководство Компании берет на себя обязательства:' %}</strong><br>
									{% trans '- выполнять все продекларированные положения настоящей Политики в области качества, охраны здоровья, обеспечения безопасности труда и охраны окружающей среды;' %}<br>
									{% trans '- обеспечивать выполнение законодательных и нормативных актов о труде и охраны окружающей среды Кыргызской Республики;' %}<br>
									{% trans '- постоянно повышать результативность системы менеджмента качества и интегрированной системы менеджмента;' %}<br>
									{% trans '- совершенствовать систему производственного экологического контроля за соблюдением нормативов выбросов и сбросов, а также правил обращения с отходами производства и рационального использования энергоресурсов;' %}<br>
									{% trans '- обеспечивать улучшение условий на рабочих местах, внедрять эффективные средства и методы по повышению безопасности труда, предупреждению заболеваемости, производственного травматизма и аварий;' %}<br>
									{% trans '- поддерживать открытый диалог со всеми заинтересованными сторонами по вопросам менеджмента качества, охраны здоровья, обеспечения безопасности труда и охраны окружающей среды.' %}
								</p>
						</div>
					</div>
			</div>
		</div>
	</div>
	</section>
	<!-- About section end -->
{%endblock content%}
