{% load static%}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{{ leader.lastname}} {{ leader.firstname}} - Kyrgyz Petroleum Company</title>
	<meta charset="UTF-8">
	<meta name="description" content="Industry.INC HTML Template">
	<meta name="keywords" content="industry, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="{% static 'img/left_logo.png' %}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section  -->
	<header class="header-section clearfix">
		<div class="site-navbar" style='background: rgb(172, 18, 18); height: 70px'>
			<!-- Logo -->
			<a href="{% url 'crud:index' %}" class="site-logo" style="position: absolute; left: -15px;">
				<img src="{% static 'img/left_logo.png' %}" alt="">
			</a>
			<div class="header-right">
				<div class="header-info-box">
					<div class="hib-icon">
						<img src="{% static 'img/icons/phone.png' %}" alt="" class="">
					</div>
					<div class="hib-text">
						<h6>+996 3722 55505</h6>
						<p>info@kpc.kg</p>
					</div>
				</div>
				<div class="header-info-box">
					<div class="hib-icon">
						<img src="{% static 'img/icons/map-marker.png' %}" alt="" class="">
					</div>
					<div class="hib-text">
						<h6>улица Промышленная 202</h6>
						<p>город Жалал-Абад, 715600</p>
					</div>
				</div>
			</div>
			<!-- Menu -->
			<nav class="site-nav-menu" style='margin-left: 240px'>
				<ul>
					<li class="active"><a href="{% url 'crud:index' %}" style='height: 70px'>Главная</a></li>
					<li><a href="{% url 'crud:about' %}" style='height: 70px'>О нас</a></li>
					<li><a href="{% url 'crud:partners' %}" style='height: 70px'>Для Клиентов и Партнеров</a></li>
				</ul>
			</nav>
			<div style='height: 76.5px; background: black; margin-left: 195px; margin-top: 16px'>
				<h3 style='color: white; text-align: center; padding: 20px'>ЗАО <<Кыргыз Петролеум Компани>></h3>
			</div>
		</div>
	</header>
	<!-- Header section end  -->


    <!-- <div class='row'>
        <div class="col-md-4 col-sm-6", style="width:800px; margin:0 auto">
            {% if leader.image %}
                <img style="height:270px;max-width:270px;margin-top:150px" src="{{ leader.image.url }}" alt="">
            {% endif %}
				<h4>{{ leader.lastname}} {{ leader.firstname}} {{ leader.midname}}</h4>
                <h5>{{ leader.position}}</h4>
                <p>{{ leader.body }}</p>
        </div>
    </div> -->
	<div>
		{% if leader.image %}
		<img style="height:270px;max-width:270px;margin-top:150px;margin-left:500px" src="{{ leader.image.url }}" alt="">
		{% endif %}
	</div>
    <div style='text-align: center; margin-left: 180px; margin-right: 160px; margin-bottom: 50px'>
		<h3 style='padding:30px'>{{ leader.lastname }} {{ leader.firstname }} {{ leader.midname }}</h3>
		<h5 style='padding-bottom:30px; color:grey'>{{ leader.position }}</h5>
		<span>{{ leader.body }}</span>
	</div>


	<!-- Footer section -->
	<footer class="footer-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget about-widget">
						<h4 style='color:#ffc600'>ЗАО "Кыргыз Петролеум Компани"</h4>
						<p> - является первым интегриро- ванным нефтедобытчиком, пере- работчиком и продавцом нефте- продуктов в КР.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title" style='margin-bottom: 60px'>Наши Партнеры</h2>
						<ul>
							{% for p in partners %}
								<li><p><a href="{{p.link}}"><strong style='color:white'>{{ p.name }}</strong></a></p></li>
							{% endfor %}
						</ul>					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title">Телефонные Номера (+996 3722)</h2>
						<ul>
							<li><p><strong>55505 </strong>Приемная Президента</p></li>
							<li><p><strong>52315 </strong>Факс</p></li>
							<li><p><strong>50327 </strong>Управляющий НПЗ</p></li>
							<li><p><strong>52775 </strong>Комната Управления НПЗ</p></li>
							<li><p><strong>50229 </strong>Бухгалтерия</p></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-7">
					<div class="footer-widget">
						<h2 class="fw-title">Контакты</h2>
						<div class="footer-info-box">
							<div class="fib-icon">
								<img src="{% static 'img/icons/map-marker.png' %}" alt="" class="">
							</div>
							<div class="fib-text">
								<p>улица Промышленная 202<br>город Жалал-Абад, 715600</p>
							</div>
						</div>
						<div class="footer-info-box">
							<div class="fib-icon">
								<img src="{% static 'img/icons/phone.png' %}" alt="" class="">
							</div>
							<div class="fib-text">
								<p>+996 3722 55505<br>info@kpc.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>