{% extends 'base.html' %} {% load i18n static %}

{% block title %}
<title>{{leader.lastname}} {{leader.firstname}} - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block content%}
	<div>
		{% if leader.image %}
		<img style="height:270px;max-width:270px;margin-top:150px;margin-left:500px" src="{{ leader.image.url }}" alt="">
		{% endif %}
	</div>
    <div style='text-align: center; margin-left: 180px; margin-right: 160px; margin-bottom: 50px'>
		<h3 style='padding:30px'>{{ leader.lastname }} {{ leader.firstname }} {{ leader.midname }}</h3>
		<h5 style='padding-bottom:30px; color:grey'>{{ leader.position }}</h5>
		<span>{{ leader.body }}</span>
	</div>

{%endblock content%}