{% extends 'base.html' %} {% load static %}

{% block title %}
<title>Для Клиентов и Партнеров - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block active%}
<ul>
	<li><a href="{% url 'crud:index' %}" style='height: 70px'>Главная</a></li>
	<li><a href="{% url 'crud:about' %}" style='height: 70px'>О нас</a></li>
	<li class='active'><a href="{% url 'crud:partners' %}" style='height: 70px'>Для Клиентов и Партнеров</a></li>
</ul>
{%endblock active%}

{% block content%}

	<!-- Page top section  -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/3.jpg' %}" style='margin-top: 150px'>
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<h2>Для Клиентов и Партнеров</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top section end  -->

	<!-- Blog section  -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sb-widget">
						{% for table in tables %}
							<li><a href="{% url 'crud:tables' pk=table.pk %}">{{ table.name }}</a></li>
						{% endfor %}
					</div>
				</div>
				<div>
					<div>
						<h3><strong> Краткая информация: </strong></h3>
						<p></p>
						<p>Цели принципы и основные положения стандартизации в Кыргызской Республике установлены Законом Кыргызской Республики «Об основах технического регулирования в Кыргызской Республике» КМС 1.0 </p>
						<p></p>
						<p><strong>Сведения о стандарте:</strong></p>
						<ol>
							<li>Разработан и внесен: Жалал-Абадским нефтеперерабатывающим заводом ЗАО «Кыргыз Петролеум Компани».</li>
							<li>Утвержден и введен в действие приказом «Центра по стандартизации и метрологии при министерстве экономики Кыргызской Республики» от 17 июля 2013г., №53-СТ.</li>
							<li>В настоящем стандарте реализованы нормы законов КР: «Об основах технического регулирования в КР», «Об охране окружающей среды», «О санитарной-эпидемиологическом благополучии населения».</li>
							<li>Введен впервые.</li>
						</ol>
						<p></p>
						<p><strong>Настоящий стандарт не может быть полностью или частично воспроизведен, тиражирован и распространен в качестве официального издания без разрешения.</strong></p>
						<p><strong>Примечание: </strong>по производственной необходимости можно применять нормы указанные в графе «примечание» только в дополнительных условиях, путем «смешивание» с более низким содержанием определенных параметров, в условиях ЗАО «Кыргыз Петролеум Компани». </p>

					</div>
				</div>
			</div>
		</div>
	</section>


{%endblock content%}