{% extends 'base.html' %} {% load static %}

{% block title %}
<title>{{table.name}} - Kyrgyz Petroleum Company</title>
{% endblock title%}

{% block content%}

    <div style='text-align: center; height: 80px'>
        <h3 style='font-size: 24px; margin-top:150px'>{{ table.name }}</h3>
    </div>


    <table class='table table-bordered' style='margin: auto; width:900px; margin-bottom: 90px'>
        <thead class='thead-dark'>
            <tr>
                {% for h in header %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for x in rows %}
                    {% if forloop.counter == table.pk %}
                        {% for r in x %}
                        <tr>
                            <td>{{ r.id }}</td>
                            <td>{{ r.name }}</td>
                            <td>{{ r.norms }}</td>
                            <td>{{ r.method }}</td>
                            <td>{{ r.note }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>


{%endblock content%}